* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

footer {
  background-image: url('../assets/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 400px) 1fr;
}

main section {
  grid-column: 2/3;
}

#first_section {
  margin-top: 4.3rem;
}

.col {
  margin: 2rem 0 0 0;
}

@media screen and (min-width: 700px) {
}
