img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  gap: 0;
  box-sizing: border-box;
}

/* ---------------- Mobil --------------- */
@media (max-width: 800px) {
  #first_section .section_wrapper {
    margin: 40px;
  }

  /* Lægger col2(mini-billeder) horisontalt */
  .col2 {
    display: flex;
    gap: 0.4rem;
  }

  /* Paragraf layout */
  .col3 h1 {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .col3 .pris {
    margin-bottom: 20px;
    border-bottom: 0.1rem solid;
    border-color: #a17d74;
  }

  /* Select */
  form {
    display: grid;
    gap: 1.3rem;
    margin-top: 25px;
  }

  .form-felt {
    display: grid;
    gap: 3px;
  }

  select {
    width: 100%;
    padding: 15px 0 15px 0;
    border: none;
    border-radius: 4px;
    background-color: white;
    border: 1.3px solid;
    border-color: #a17d74;
  }

  select option {
    margin: 40px;
    background: white;
    color: #a17d74;
  }

  button {
    width: 65%%;
    padding: 15px 0 15px 0;
    border: none;
    background-color: white;
    border-bottom: 1.3px solid;
    border-color: #a17d74;
  }

  /* ----Second section---- */
  #second_section {
    background-color: #a17d74;
  }

  #second_section .section_wrapper {
    margin: 40px;
  }

  #second_section h1 {
    margin: 40px;
    font-size: 2.5rem;
    background-color: #a17d74;
    padding-top: 1rem;
  }
}

/* ---------------------------------- Web-version-------------------------------------- */

@media (min-width: 600px) {
  /* -------------------------------- Sektion 1, produkt ------------------------------ */

  #first_section .section_wrapper {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 8px;
  }

  .col1 {
    grid-area: 1 / 2 / 4 / 4;
  }
  .col3 {
    grid-area: 1 / 4 / 4 / 6;
    margin: 10px;
  }
  .col2 {
    grid-area: 1 / 1 / 4 / 2;
  }

  .col2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }

  .imagea {
    grid-row: 1/1;
  }
  .imageb {
    grid-row: 2/2;
  }
  .imagec {
    grid-row: 3/3;
  }

  /* -----------  tekst og bokse -------- */

  .col3 h1 {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .col3 .pris {
    margin-bottom: 30px;
    border-bottom: 0.1rem solid;
    border-color: #a17d74;
  }

  /* ---------- sektion 1, bokse-select -------- */

  form {
    display: grid;
    gap: 1.3rem;
    margin-top: 50px;
  }

  .form-felt {
    display: grid;
    gap: 3px;
  }

  select {
    width: 70%;
    padding: 15px 0 15px 0;
    border: none;
    border-radius: 4px;
    background-color: white;
    border: 1.3px solid;
    border-color: #a17d74;
  }

  select option {
    margin: 40px;
    background: white;
    color: #a17d74;
  }

  button {
    width: 65%;
    padding: 15px 0 15px 0;
    border: none;
    background-color: white;
    border-bottom: 1.3px solid;
    border-color: #a17d74;
  }

  /* -------------------------------- Sektion 2, billede-grid ------------------------------ */

  #second_section {
    background-color: #a17d74;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(1fr * 6);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
  }

  #second_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  .image2 {
    grid-column: 3/6;
    grid-row: 1/1;
  }
  .image3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .image4 {
    grid-column: 3/4;
    grid-row: 3/3;
  }
  .image5 {
    grid-column: 4/6;
    grid-row: 2/4;
  }
  /* ------ sektion 2, overskrift------ */

  #second_section h1 {
    text-align: center;
    margin: 30px;
    font-size: 2.5rem;
    background-color: #a17d74;
    padding-top: 50px;
  }
}
